APP_NAME="Quinos - Booking Layer"
APP_BASE_PATH=""
APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_arna
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8

BOOKINGLAYER_BASE_URL=http://api.bookinglayer.io/private/
BOOKINGLAYER_RESERVATION_STATUS=confirmed
